In [1]:
import pandas as pd
import import_ipynb

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

from Asheville_Forecast import ASH_table
from Austin_Forecast import ATX_table
from chicago_Forecast import CHI_table
from Hawaii_Forecast import HI_table
from Nashville_Forecast import NV_table
from NewOrleans_Forecast import NO_table
from Seattle_Forecast import Seattle_table
from SFO_Forecast import SFO_table
from WashingtonDC_Forecast import DC_table

importing Jupyter notebook from Asheville_Forecast.ipynb
importing Jupyter notebook from Asheville_airbnb.ipynb

Asheville_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
Asheville_airbnb.ipynb:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "cells": [
Asheville_airbnb.ipynb:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "metadata": {},

Rain on Thursday and Friday, with high temperatures bottoming out at 42°F on Monday.
rain
55.52
importing Jupyter notebook from Austin_Forecast.ipynb
importing Jupyter notebook from Austin_airbnb.ipynb

Austin_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
Austin_airbnb.ipynb:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "cells": [
Austin_airbnb.ipynb:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "metadata": {},

Rain on Wednesday and Thursday, with high temperatures falling to 55°F next Saturday.
rain
69.15
importing Jupyter notebook from chicago_Forecast.ipynb
importing Jupyter notebook from chicago_airbnb.ipynb

chicago_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
chicago_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
chicago_airbnb.ipynb:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "outputs": [],

Mixed precipitation on Tuesday and Thursday, with high temperatures bottoming out at 32°F on Monday.
snow
38.9
importing Jupyter notebook from Hawaii_Forecast.ipynb
importing Jupyter notebook from hawaii_airbnb.ipynb

hawaii_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
hawaii_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
hawaii_airbnb.ipynb:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "outputs": [],

Light rain today through Friday, with high temperatures peaking at 82°F on Wednesday.
rain
81.68
importing Jupyter notebook from Nashville_Forecast.ipynb
importing Jupyter notebook from Nashville_airbnb.ipynb

Nashville_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
Nashville_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
Nashville_airbnb.ipynb:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "outputs": [],

Light rain tomorrow and Thursday, with high temperatures rising to 66°F on Friday.
rain
59.32
importing Jupyter notebook from NewOrleans_Forecast.ipynb
importing Jupyter notebook from NewOrleans_airbnb.ipynb

NewOrleans_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
NewOrleans_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
NewOrleans_airbnb.ipynb:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "outputs": [],

Rain on Wednesday through Friday, with high temperatures bottoming out at 58°F on Monday.
rain
66.13
importing Jupyter notebook from Seattle_Forecast.ipynb
importing Jupyter notebook from Seattle_airbnb.ipynb

Seattle_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
Seattle_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
Seattle_airbnb.ipynb:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "outputs": [],

Rain today and tomorrow, with high temperatures falling to 44°F on Friday.
rain
45.11
importing Jupyter notebook from SFO_Forecast.ipynb
importing Jupyter notebook from SFO_airbnb.ipynb

SFO_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
SFO_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
SFO_airbnb.ipynb:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "outputs": [],

Light rain on Monday, with high temperatures peaking at 58°F on Wednesday.
rain
58.38
importing Jupyter notebook from WashingtonDC_Forecast.ipynb
importing Jupyter notebook from WashingtonDC_airbnb.ipynb

WashingtonDC_airbnb.ipynb:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  {
WashingtonDC_airbnb.ipynb:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "cells": [
WashingtonDC_airbnb.ipynb:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "outputs": [],

Light rain today and Friday, with high temperatures bottoming out at 42°F on Tuesday.
rain
48.53

In [2]:
# all_cities = pd.merge(HI_table, NV_table, on="Date")
# NV_table = pd.merge(df, Nashville_airbnb, on="Date")
# NV_table
all_cities = ASH_table.append(ATX_table)
all_cities = all_cities.append(CHI_table)
all_cities = all_cities.append(HI_table)
all_cities = all_cities.append(NV_table)
all_cities = all_cities.append(NO_table)
all_cities = all_cities.append(Seattle_table)
all_cities = all_cities.append(SFO_table)
all_cities = all_cities.append(DC_table)
all_cities

,Date,High Temp,Low Temp,Precipitation Probability,Precipitation Intensity,Precipitation Type,Under $50,$50-100,$100-150,$150-200,$200-250,City
0,2018-12-22,44.21,27.38,0.22,0.0008,rain,75,323,223,110,61,Asheville
1,2018-12-23,52.66,26.92,0.26,0.0021,rain,97,408,196,93,58,Asheville
2,2018-12-24,42.09,25.70,0.14,0.0004,snow,90,369,198,88,55,Asheville
3,2018-12-25,46.73,27.04,0.02,0.0001,rain,92,361,197,88,57,Asheville
4,2018-12-26,55.52,35.79,0.06,0.0001,rain,77,363,187,79,52,Asheville
5,2018-12-27,47.16,47.95,0.83,0.0204,rain,77,347,153,58,47,Asheville
6,2018-12-28,65.86,34.46,0.95,0.0469,rain,57,264,184,76,41,Asheville
7,2018-12-29,59.04,37.05,0.00,0.0000,none,55,246,180,76,40,Asheville
0,2018-12-22,75.67,46.84,0.05,0.0002,rain,532,1220,1039,678,360,Austin
1,2018-12-23,59.37,39.96,0.06,0.0002,rain,615,1335,980,610,294,Austin
2,2018-12-24,58.50,55.20,0.07,0.0006,rain,592,1291,963,602,273,Austin
3,2018-12-25,71.57,63.56,0.27,0.0042,rain,584,1267,960,598,270,Austin
4,2018-12-26,69.15,53.98,0.90,0.0418,rain,607,1286,996,579,276,Austin
5,2018-12-27,68.60,46.89,0.82,0.0192,rain,624,1274,955,588,276,Austin
6,2018-12-28,67.36,47.36,0.00,0.0000,none,525,1071,877,684,360,Austin
7,2018-12-29,53.51,38.69,0.33,0.0016,rain,523,1044,858,651,380,Austin
0,2018-12-22,35.73,29.08,0.09,0.0003,snow,819,1359,800,491,270,Chicago
1,2018-12-23,35.09,24.64,0.13,0.0002,snow,909,1444,826,459,216,Chicago
2,2018-12-24,32.08,28.64,0.03,0.0001,snow,871,1350,735,448,225,Chicago
3,2018-12-25,37.46,30.05,0.75,0.0063,snow,869,1334,732,462,221,Chicago
4,2018-12-26,38.90,35.41,0.51,0.0029,rain,924,1372,777,441,221,Chicago
5,2018-12-27,47.95,45.96,0.96,0.0301,rain,944,1452,819,483,211,Chicago
6,2018-12-28,46.95,26.54,0.27,0.0007,rain,773,1245,779,492,279,Chicago
7,2018-12-29,26.79,23.14,0.04,0.0002,snow,748,1157,761,498,273,Chicago
0,2018-12-22,79.64,69.71,0.64,0.0031,rain,198,984,968,710,505,Honolulu
1,2018-12-23,78.88,68.38,0.24,0.0007,rain,210,931,851,636,488,Honolulu
2,2018-12-24,79.14,69.12,0.20,0.0015,rain,190,782,633,476,336,Honolulu
3,2018-12-25,79.14,69.59,0.41,0.0047,rain,162,663,508,362,256,Honolulu
4,2018-12-26,81.68,70.34,0.17,0.0003,rain,175,615,425,307,205,Honolulu
5,2018-12-27,79.75,68.31,0.90,0.0157,rain,168,519,352,260,157,Honolulu
...,...,...,...,...,...,...,...,...,...,...,...,...
2,2018-12-24,58.09,53.71,0.07,0.0005,rain,96,833,752,431,235,New Orleans
3,2018-12-25,65.68,57.24,0.15,0.0012,rain,97,833,729,441,248,New Orleans
4,2018-12-26,66.13,63.47,0.86,0.0189,rain,95,796,757,402,204,New Orleans
5,2018-12-27,70.49,60.92,0.98,0.0916,rain,67,624,622,371,221,New Orleans
6,2018-12-28,65.38,57.37,0.87,0.0145,rain,32,229,302,369,274,New Orleans
7,2018-12-29,62.74,55.22,0.69,0.0077,rain,22,88,114,193,198,New Orleans
0,2018-12-22,46.74,44.76,0.80,0.0107,rain,357,1268,1051,571,277,Seattle
1,2018-12-23,47.38,39.02,0.93,0.0108,rain,375,1166,982,531,285,Seattle
2,2018-12-24,46.06,35.32,0.78,0.0049,rain,355,1119,977,545,282,Seattle
3,2018-12-25,43.22,36.78,0.36,0.0006,rain,342,1095,958,532,286,Seattle
4,2018-12-26,45.11,37.78,0.95,0.0092,rain,353,1145,981,540,310,Seattle
5,2018-12-27,44.61,36.31,0.81,0.0033,rain,362,1148,930,565,327,Seattle
6,2018-12-28,43.97,37.04,0.40,0.0048,rain,330,1057,946,543,386,Seattle
7,2018-12-29,47.22,39.14,0.72,0.0134,rain,319,1070,938,545,396,Seattle
0,2018-12-22,56.79,48.81,0.11,0.0002,rain,178,778,751,466,243,San Francisco
1,2018-12-23,55.61,51.14,0.33,0.0009,rain,192,792,751,457,255,San Francisco
2,2018-12-24,56.53,48.77,0.54,0.0078,rain,182,774,721,450,241,San Francisco
3,2018-12-25,58.19,48.69,0.29,0.0007,rain,188,763,724,463,241,San Francisco
4,2018-12-26,58.38,46.22,0.07,0.0001,rain,191,779,755,477,235,San Francisco
5,2018-12-27,57.24,45.98,0.00,0.0000,none,195,774,761,493,244,San Francisco
6,2018-12-28,55.54,42.31,0.00,0.0000,none,191,720,744,466,244,San Francisco
7,2018-12-29,54.24,47.68,0.00,0.0000,none,195,700,741,455,235,San Francisco
0,2018-12-22,50.75,31.48,0.55,0.0009,rain,472,1559,923,543,267,"Washington, D.C"
1,2018-12-23,46.68,37.35,0.24,0.0009,rain,485,1542,953,495,263,"Washington, D.C"
2,2018-12-24,41.83,30.53,0.17,0.0001,rain,470,1498,940,487,253,"Washington, D.C"
3,2018-12-25,41.77,30.05,0.03,0.0001,snow,468,1461,921,494,241,"Washington, D.C"
4,2018-12-26,48.53,32.07,0.05,0.0001,rain,470,1433,910,482,244,"Washington, D.C"
5,2018-12-27,48.01,43.79,0.18,0.0004,rain,473,1420,904,470,238,"Washington, D.C"
6,2018-12-28,65.86,49.00,0.95,0.0233,rain,451,1375,876,475,247,"Washington, D.C"
7,2018-12-29,57.38,34.10,0.00,0.0000,none,457,1380,883,497,254,"Washington, D.C"

In [3]:
# make/connect to sqlite
engine = create_engine('sqlite:///Database/AirBNB.sqlite')

Base = automap_base()
Base.prepare(engine, reflect=True)
Base.metadata.drop_all(engine)

# transfer dataframes to sqlite db
all_cities.to_sql('All Cities', con=engine)
ASH_table.to_sql('Asheville', con=engine)
ATX_table.to_sql('Austin', con=engine)
CHI_table.to_sql('Chicago', con=engine)
HI_table.to_sql('Hawaii', con=engine)
NV_table.to_sql('Nashville', con=engine)
NO_table.to_sql('New Orleans', con=engine)
Seattle_table.to_sql('Seattle', con=engine)
SFO_table.to_sql('San Francisco', con=engine)
DC_table.to_sql('Washington DC', con=engine)

In [6]:
engine.table_names()

['All Cities',
 'Asheville',
 'Austin',
 'Chicago',
 'Hawaii',
 'Nashville',
 'New Orleans',
 'San Francisco',
 'Seattle',
 'Washington DC']

In [11]:
#find number of airbnbs under $50 where high temp is > 65
pd.read_sql_query('select "Under $50", "City", "Date" from "All Cities" where "High Temp" > 65', con=engine)

    Under $50             City        Date
0          57        Asheville  2018-12-28
1         532           Austin  2018-12-22
2         584           Austin  2018-12-25
3         607           Austin  2018-12-26
4         624           Austin  2018-12-27
5         525           Austin  2018-12-28
6         198         Honolulu  2018-12-22
7         210         Honolulu  2018-12-23
8         190         Honolulu  2018-12-24
9         162         Honolulu  2018-12-25
10        175         Honolulu  2018-12-26
11        168         Honolulu  2018-12-27
12        153         Honolulu  2018-12-28
13        140         Honolulu  2018-12-29
14        109        Nashville  2018-12-28
15         82      New Orleans  2018-12-23
16         97      New Orleans  2018-12-25
17         95      New Orleans  2018-12-26
18         67      New Orleans  2018-12-27
19         32      New Orleans  2018-12-28
20        451  Washington, D.C  2018-12-28