In [6]:
import pandas as pd
from sqlalchemy import create_engine
import import_ipynb

from Asheville_Forecast import ASH_table
from Austin_Forecast import ATX_table
from chicago_Forecast import CHI_table
from Hawaii_Forecast import HI_table
from Nashville_Forecast import NV_table
from NewOrleans_Forecast import NO_table
from Seattle_Forecast import Seattle_table
from SFO_Forecast import SFO_table
from WashingtonDC_Forecast import DC_table

In [8]:
# make/connect to sqlite
engine = create_engine('sqlite:///Database/AirBNB.sqlite')

# transfer dataframes to sqlite db
ASH_table.to_sql('Asheville', con=engine)
ATX_table.to_sql('Austin', con=engine)
CHI_table.to_sql('Chicago', con=engine)
HI_table.to_sql('Hawaii', con=engine)
NV_table.to_sql('Nashville', con=engine)
NO_table.to_sql('New Orleans', con=engine)
Seattle_table.to_sql('Seattle', con=engine)
SFO_table.to_sql('San Francisco', con=engine)
DC_table.to_sql('Washington DC', con=engine)